name: "Deploy to GitHub Pages"

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository onto runner"
        uses: actions/checkout@v4

      - name: "Setup Node.js and dependencies"
        uses: ./.github/workflows/setup-node

      - name: "Setup Pages"
        uses: actions/configure-pages@v4
        with:
          static_site_generator: next

      - name: "Build Next.js"
        run: npx next build

      - name: "Upload build artifact"
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: "Deploy to GitHub Pages"
        id: deployment
        uses: actions/deploy-pages@v4

